<!DOCTYPE>
<html>
<head>
	<title>The Daily Planet - Home</title>
</head>
<body>
	<nav>
	  <a href="/" class="selected"> Home </a>
	  <a href="/articles" > Articles </a>
	  <a href="/articles/new"> Submit </a>
	  <a href="/contact"> Contact Us </a>
	</nav>
	<h1>The Daily Planet</h1>
</body>
</html>