<!DOCTYPE>
<html>
<head>
	<title>The Daily Planet - Contact</title>
	<link rel="stylesheet" href="stylesheets/main.css">
	<link href='http://fonts.googleapis.com/css?family=Ubuntu' rel='stylesheet' type='text/css'>
</head>
<body>
	<ul id="nav">
	  <li><u><a href="/">Home</a></u></li>
	  <li><u><a href="/articles">Articles</a></u></li>
	  <li><u><a href="/articles/new">Submit</a></u></li>
	  <li><u><a href="/about">About</a></u></li>
	  <li><u><a href="/contact">Contact Us</a></u></li>
	</ul>

	<div class="moveit">
	<h2>Contact</h2>
		<p>The Daily Planet</p>
		<p>Heart of Metropolis</p>
		<p>111.111.1111</p>
		<p><a href="mailto:thedailyplanet@thedailyplanet.com">thedailyplanet@thedailyplanet.com</a></p>
	</div>
</body>
</html>