<!DOCTYPE html>
<html>
<head>
	<title>Article EJS</title>
	<link href="stylesheets/main.css" rel="stylesheet">
</head>
<body>
<nav>
	<a href="/" class="selected">Home</a>
	<a href="/articles">Articles</a>
	<a href="/articles/new">Add New</a>
	<a href="/about">About Us</a>
	<a href="/contact">Contact Us</a>
</nav>
<h1>Welcome to the Daily Planet!</h1>
<h2>Check out our <a href="/articles">new articles</a></h2>




</body>
</html>